#img1{
    width: 40px;
    height: 450px;
}
.category-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height:auto;
    text-align: center;
    margin-top: 10px;
}
.category-col{
    padding: 10px 0;
    cursor: pointer;
    color:black;
}
.category-col img{
    width:300px;
    height: 300px;
    border-radius: 29%;
    border: solid;
    border-color: black;

}
.category-col h2:hover{
    color:darkmagenta;

}

.carou{
    padding-top:0.7% ;
    padding-bottom: 0.7%;
}
