<h2>Frequently Asked Questions</h2>
<section>
    <p>1. How long will the delivery take?</p>
    <p>It's really quick! We strive to deliver all our orders / products in the fastest time possible. Depending upon your address, the delivery time may vary between 2 - 9 working days. That still won't stop us from trying to get you your order faster. On each product's display page, you can enter your location's pin code to check when you can expect to receive the delivery.</p>
    <p>2. Can I cancel my order?</p>
    <p>Yes! You can cancel an order as long as we havent packed it for you. As soon as the order is cancelled, we refund the entire amount paid for the order.</p>
    <p>3. What are the various modes of payment at ELAN?</p>
    <p>You can pay using following methods of Payment: 1. Credit Card 2. Debit Card 3. Net Banking 4. E-Wallets (Paytm, MobiKwik, Freecharge and more) 5. Cash on Delivery 6. ELAN Wallet Note: All payment methods depend on your pin code, so please ensure that you check your pin code to find out the available methods of payment over there.</p>
    <p>4. How do I return my product?</p>
    <p>Super easy! Please login with your credentials and visit the My Account section. Select the order you want to return and click on Return/Exchange and follow the instructions on this page to obtain a Return ID.You can also view Return Creation Demo under My Account section on your phone. If you are using a PC/laptop, copy paste this link on your
         browser</p>
    <p>5. How do you ensure safe delivery of my orders?</p>
    <p>We use secure delivery partners for pickup and deliveries. Your order will be shipped in a tamper proof package carrying a serialized number (a unique code starting with ELAN_____). You will get the same code via SMS and email as well. You should confirm the code shared with you via SMS with the number on the packet before accepting the shipment. You will also receive
         the OTP for the delivery. The delivery agent will ask for OTP while delivering.</p>
    <p>6. What is your returns policy?</p>
    <p>At ELAN, we have a very flexible returns policy which is absolutely customer friendly. If you do not find the product(s) satisfying, you can return it as long as the following conditions are met: It should be unused. You can wear it to check for fit and comfort, making sure that any smell does not transfer to the product (natural body odour, body deodorant, perfume etc.). It should be unwashed. We don't want you wasting any detergent! ☺. The price tags, brand tags, shoe-box and all original packaging must be present . The product must be returned within 15 days (*10 days of return window, for items displayed as part of WinterSale). Any gifts received must also be returned along with the product. Toys will have 10 days return/replacement policy in case you have received a damaged, defective, wrong product or product with missing accessory.</p>
    <p>7. What is the meaning of Rhodium Coating for Silver Jewellery?</p>
    <p>If a product is marked as Rhodium coated, then the Silver metal has been coated with Rhodium to prevent tarnishing (blackening) of the Silver metal</p>
    <p>8. What if the amount got debited from my side but I did not receive an Order ID?</p>
    <p>We ensure that an Order ID is confirmed only once our bank receives the payment from your bank. Sometimes, due to unforeseen reasons, the amount might be debited from your side but wouldn't have been received by us yet. Please send an email and we'll sort it out for you. </p>
    <p>9. How can I remove the product(s) from my closet?</p>
    <p>You can do so by clicking on << OLE Object: Picture (Device Independent Bitmap) >> icon.</p>
    <p>10. How many Gift Cards can be added to Elan Wallet?</p>
    <p>You can add any number of Elan gift cards to Ajio Wallet as Non-transferrable Elan Cash.</p>

</section>
