<div class="badge bg-primary">Available products</div>
<br>
    <br>
    <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of product">
        <div class="card col-md-3">
            <img src={{item.image}}>
            <h2>{{item.productname}}</h2>
        <p>{{item.description}}</p>
        <p><strong>{{item.price}}</strong></p>
        <button class="btn btn-primary" (click)="addtoCart(item)" [disabled]="!isLoggedIn()">Add to cart</button>
        </div>
    </ng-container>
    </div>
</div>

<!--[disabled]="!isLoggedIn()"-->