<body>
    <!--Carousel of the website-->
    <section class="carou">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="img1" src="assets/c1.jpg" class="d-block w-100" alt="mobile offer">
        </div> 
        <div class="carousel-item">
          <img id="img1" src="assets/c2.gif" class="d-block w-100" alt="ethnic dress offer">
        </div>
        <div class="carousel-item active">
          <img id="img1" src="assets/c4.jpg" class="d-block w-100" alt="jewel">
        </div> 
        <div class="carousel-item">
          <img  id="img1" src="assets/c3.jpg" class="d-block w-100" alt="t shirt offer">
        </div>
        <div class="carousel-item active">
          <img id="img1" src="assets/c5.png" class="d-block w-100" alt="bags">
        </div> 
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  </section>
  <section>
    <!--firt row-->
    <div class="category-row">
      <div class="category-col">
        <img src="assets/cat1.jpg" alt="men" routerLink="/men" >
        <h2 routerLink="/men" >Men's Fashion</h2>
      </div>
      <div class="category-col">
        <img src="assets/cat2.jpg" alt="women" routerLink="/women">
        <h2 routerLink="/women" >Women's Fashion</h2>
      </div>
      <div class="category-col">
        <img src="assets/cat3.jpg" alt="kids" >
        <h2 >Kids</h2>
      </div>
    </div>
   <!--second row-->
    <div class="category-row">
      <div class="category-col">
        <img src="assets/cat4.jpg" alt="footwear" >
        <h2>Footwear</h2>
      </div>
      <div class="category-col">
        <img src="assets/women/acc.jpg" alt="mobile" >
        <h2 >Accessories</h2>
      </div>
      <div class="category-col">
        <img src="assets/cat6.jpg" alt="electronics" >
        <h2 >Electronics</h2>
      </div>
    </div>
    <!--third row-->
    <div class="category-row">
      <div class="category-col">
        <img src="assets/cat8.jpg" alt="home" >
        <h2 >Home</h2>
      </div>
      <div class="category-col">
        <img src="assets/cat7.jpg" alt="kitchen" >
        <h2 >Kitchen</h2>
      </div>
      <div class="category-col">
        <img src="assets/cat9.jpg" alt="grocery">
        <h2>Grocery</h2>
      </div>
    </div>
  </section>
  
  </body>
  
  
  

